/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    max-width: calc(100vw - 2rem);

    &.p-toast-top-right,
    &.p-toast-top-left {
        top: 100px;
    }

    &.p-toast-top-center {
        top: 20px;
    }
}
